*{
    margin: 0;
    padding: 0;
}
.main{
   /* background-image: url("../img/descarga.png");
    width: 95%;
    height: 90vh;
    background-repeat: no-repeat;
    background-position: right bottom; */
}
body{
    background-image: url("../img/Supra.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkslategrey ;
   
}

@media only screen and (max-width 800px) {
    body{
        background-image: url("../img/Supra-800.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
    @media only screen and (max-width 600px) {
     body{
         background-image: url("../img/Supra-600.jpg");
         background-repeat: no-repeat;
         background-size: cover;
     }   
    }
    