.container{
border-radius: 8px;
width: 700px;
height: 700px;
/* border: solid 1px; */
}
.item-flex{
    align-items: center;
    background-color: yellow;
    height: 50px;
    width: 500px;
    justify-content: center;
    display: flex;
    border: solid yellow;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-left: 20px;

}
.titulos{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

    
p{  text-align: right;
}

.texto{
  float: right;
  width: 200px;
  height: 40px;
  margin-right: 230px;
position: relative;
margin-left: 20px;
}
.imagen{
    margin-left: 40px;

}
.division-caratula{
    display: flex;
}
.parte-abajo{
    display: flex;
    margin-left: 40px;
    margin-top: 10px;
}

.suma{
    background-image:url(../img/mas.png);
    width: 60px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    border: solid 1px;
    border-radius: 4px;
    cursor: pointer;
}

.numeroDos{
    
    width: 60px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    border: solid 1px; 
}
.resta{

    background-image:url(../img/menos.png);
    width: 60px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    border: solid 1px;
    border-radius: 4px;  
    cursor: pointer;
}
.sub{
    color: black;
    font-size: 2em;
}
/*  
.suma:hover{
color: navajowhite;
background-color: grey;
}
*/

/*  
.resta:hover{
    color: navajowhite;
    background-color: grey;
     }
    */
   
    h3{
        font-size: 2em;
    }
    .eliminar{
        margin-left: 60px;
        margin-top: 30px;
        height: 40px;
        width: 200px;
        cursor: pointer;

    }
    .guardar{
        margin-top: 20px;
        margin-left: 285px;
        height: 40px;
        width: 200px;
        cursor: pointer;
    }
    .botones{
       display: flex;
    }
    h1{
        font-size: 1em;

    }
    .todos{
        border: solid 1.5px;
        height: 600px;
        
    }