h1{
    text-align: center;
}
h2{
    margin-left: 55px;
   margin-top: 60px;
   margin-bottom: 20px;
   font-size: 80;
    
}
.container{
    margin-top: 55px;
    
    
}
.pointer{
    cursor: pointer;
}
.style-container{
    margin-bottom: 40px;
}
.card{
    display: inline-block;
    margin-right: 40px;
}

.color{
    color: whitesmoke;
    background-color: black;
}