*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: white;
    text-align: left;
    font-size: 2em;
}
h3{
    color: white;
    text-align: left;
    font-size: 2em;
     top: 1.5px;
}