body {
    cursor: pointer;
    
}
.hidden {
    display: none;
}
h3 {
    text-align: center;
    font-size: 5em;
}
div {
    border-radius: 1%;
}
.imgPrincipal{
    position: absolute;
    
}
.imagenes{
    margin-left: 3.5%;
}